@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" @* style="background-repeat: no-repeat; background-image: url(http://www.hidropolitikakademi.org/wp-content/uploads/2014/09/markets-agro-agriculture-plant-protection-173301.jpg); background-size: contain; background-size: cover; "*@ >
    <h1>Humanus Hospital</h1>
    <p class="lead" > For us it's all about our patients and their wellbeing.</p>
    @*
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    *@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <img src="http://insighttelepsychiatry.com/wp-content/uploads/2014/01/shutterstock_123513316-2.jpg" alt="Mountain View" width="300" height="200">
        </p>
        <p style="font-size: 16px">
            Talk to our reception and book an appointment with one of our doctors.
        </p>
        @* 
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        *@
        </div>
        @*
        <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
        *@
</div>